<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-itunes-app" content="app-id=1028024655">
    <link rel="manifest" href="manifest.json">
    <title rg-page-title delimiter="{{' – '}}" no-title="YouTrack"></title>


    <base href="/">


    <link rel="shortcut icon" href="static/favicon.ico?3c05e1a5b709165a5c4e825adf27273a?3c05e1a5b709165a5c4e825adf27273a" type="image/x-icon" sizes="16x16 32x32"/>
    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-touch-icon-57x57.png?7affaa8357791b5b46c5969167d3fd48?7affaa8357791b5b46c5969167d3fd48"/>
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-touch-icon-60x60.png?b7eac177b3ea698b413f4cb4a18e39a9?b7eac177b3ea698b413f4cb4a18e39a9"/>
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-touch-icon-72x72.png?90fd26d5f92d9c21f3ec861257c886b2?90fd26d5f92d9c21f3ec861257c886b2"/>
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-touch-icon-76x76.png?bee65b4ea289e5591c157dad2df40273?bee65b4ea289e5591c157dad2df40273"/>
    <link rel="apple-touch-icon" sizes="114x114" href="static/apple-touch-icon-114x114.png?cb58c82b85911d417f1bc80005595e96?cb58c82b85911d417f1bc80005595e96"/>
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-touch-icon-120x120.png?2d8b8393e8e59750d3d1ce4cb26345d7?2d8b8393e8e59750d3d1ce4cb26345d7"/>
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-touch-icon-144x144.png?0a9d1e753dd5967dbaa022140a070bde?0a9d1e753dd5967dbaa022140a070bde"/>
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-touch-icon-152x152.png?83fd2240af1c526958edec28a7729be6?83fd2240af1c526958edec28a7729be6"/>
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon-180x180.png?f80bc9d9789233569b0b87911c10100d?f80bc9d9789233569b0b87911c10100d"/>
    <link rel="mask-icon" href="static/apple-mask-icon.svg?68c959aed7d5ecb39cf1ea6c4c403ae5?68c959aed7d5ecb39cf1ea6c4c403ae5" color="black"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="msapplication-TileImage" content="static/mstile-144x144.png?d48cabbe1a00ae07eb6b68f01db81c45?d48cabbe1a00ae07eb6b68f01db81c45"/>
    <meta name="msapplication-square70x70logo" content="static/mstile-70x70.png?f17f5db5ba82177f529efe749ef87406?f17f5db5ba82177f529efe749ef87406"/>
    <meta name="msapplication-square150x150logo" content="static/mstile-150x150.png?d4b199c230c763bdf539e678bb3c773c?d4b199c230c763bdf539e678bb3c773c"/>
    <meta name="msapplication-wide310x150logo" content="static/mstile-310x150.png?386081fab69843bb7bcd5015ba09aa0f?386081fab69843bb7bcd5015ba09aa0f"/>
    <meta name="msapplication-square310x310logo" content="static/mstile-310x310.png?0b3bccfe93e1adc9a88f622eb3afe225?0b3bccfe93e1adc9a88f622eb3afe225"/>
</head>
<body class="global" rg-shortcuts-app shortcuts-loop>

<div class="app" ng-if="$root.isBootstrapped">
    <div class="app__container">
        <yt-header class="app__header"></yt-header>

        <div ng-if="$root.applicationError" style="min-height: 360px;">
            <yt-error code="{{$root.applicationError.status}}" guest="$root.applicationError.guest"></yt-error>
        </div>

        <div ng-if="!$root.applicationError" class="app__view-container">
            <div class="app__view" ng-view></div>
            <div id="simplified-root"></div>
        </div>
    </div>
</div>
<div rg-dialog=""></div>

<yt-page-loader></yt-page-loader>
<yt-splash-screen ng-if="!$root.isBootstrapped"></yt-splash-screen>
<div data-test="ytLoader" id="fast-loader"></div>

<div data-nosnippet id="ring-old-browsers-message" class="ring-old-browsers-message ring-old-browsers-message_hidden" hidden>
    <span id="ring-old-browsers-message__smile" class="ring-old-browsers-message__smile" ng-non-bindable>{{ (&gt;_&lt;) }}</span>
    <br/><br/>
    <span id="ring-old-browsers-message__browser-message">This version of your browser is not supported.<br/>
          Try upgrading to the latest stable version.</span>
    <span id="ring-old-browsers-message__error-message">Something went seriously wrong.</span>
    <br/><br/>
    <!--[if IE 9]>
    <span>When using IE9.0 or higher, make sure that compatibility mode is disabled.</span>
    <![endif]-->
</div>

<script src="static/fast-loader.d78bafcadf336513ff37.js"></script>
<script src="static/vendor.3df861b82167a517a681.js"></script>
<script src="static/app.3d8fcb9abd179bb0160a.js"></script>

</body>
</html>